{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "commonjs": true,
    "node": true
  },
  "extends": "eslint:recommended",
  "rules": {
    "no-console": "warn",
    "linebreak-style": [
      "error",
      "unix"
    ],
    "indent": [
      "error",
      2,
      {
        "SwitchCase": 2
      }
    ],
    "semi": [
      "error",
      "always"
    ],
    "quotes": [
      "error",
      "single",
      {
        "allowTemplateLiterals": true
      }
    ],

    "space-before-function-paren": [
      "off",
      {
        "anonymous": "always",
        "named": "always"
      }
    ]
  }

}